 .input{

        outline: none;
        border: none;
        border-bottom: 2px solid white;
        width: 40vw;
        height: 3.5vh;
        text-align: center;
        color: white;
        font-size: 0.8rem;
        background-color: transparent;
       
        
        
    }
    .input::placeholder{

        color: white;
        font-size: 0.8rem;

    }

@media(min-width: 451px) and (max-width : 800px){

    .input{

        width: 40vw;
        font-size: 1.2rem;
        
    }

    .input::placeholder{

        font-size: 1.2rem;

    }

}

@media(min-width: 801px) {

    .input{

        width: 25vw;
        font-size: 1.1rem;
        margin-top: 35vh;
        
    }

    .input::placeholder{

        font-size: 1.1rem;

    }

}

@media(min-width: 1501px){

    .input{

        width: 15vw;
        font-size: 1rem;
        margin-top: 65vh;
        
    }

    .input::placeholder{

        font-size: 1rem;

    }

}