 .input{

        outline: none;
        border:none;
        border-bottom: 2px solid #2B2E6B ;
        width: 35vw;
        height: 4vh;
        text-align: center;
        color: #9c9c9c;
        font-size: 0.8rem;
        padding:1vw;
        /* border-radius: 5px;
        background: #f0f0f0;
        box-shadow: 1px 1px 2px #9c9c9c, 
                    -1px -1px 2px #ffffff; */
        
    }

    .input::placeholder{

        color: #9c9c9c;
        font-size: 0.8rem;

    }

    .input:hover::placeholder{

        color:#9c9c9c;

    }



@media(min-width: 451px){

    .input{

        width: 27vw;
        font-size: 1.1rem;
        height: 3.5vh;
        
    }

    .input::placeholder{

        font-size: 1.1rem;

    }

}

@media(min-width: 801px) {

    .input{

        width: 17vw;
        font-size: 1rem;
        margin-top: 40vh;
        
    }

    .input::placeholder{

        font-size: 1rem;

    }

}

@media(min-width: 1100px) {

    .input{

        width: 12vw;
        font-size: 0.9rem;
        margin-top: 45vh;
        height: 2.5vh;
        
    }

    .input::placeholder{

        font-size: 0.9rem;

    }

}

@media(min-width: 1501px){

    .input{

        width: 8vw;
        font-size: 0.85rem;
        margin-top: 55vh;
        
    }

    .input::placeholder{

        font-size: 0.85rem;

    }

}