 .input{

        outline: none;
        border: none;
        border: 0.5px solid white;
        width: 30vw;
        height: 3.5vh;
        text-align: center;
        color: white;
        font-size: 0.8rem;
        background-color: transparent;
        padding:1vw
        
        
    }

    .input::placeholder{

        color: white;
        font-size: 0.8rem;

    }

    .input:hover::placeholder{

        color: rgb(182, 182, 182);

    }

    .input:focus::placeholder{

        color: transparent;

    }


@media(min-width: 451px){

    .input{

        width: 23vw;
        font-size: 1.1rem;
        height: 2.5vh;
        
    }

    .input::placeholder{

        font-size: 1.1rem;

    }

}

@media(min-width: 801px) {

    .input{

        width: 12vw;
        font-size: 1rem;
        margin-top: 40vh;
        
    }

    .input::placeholder{

        font-size: 1rem;

    }

}

@media(min-width: 1100px) {

    .input{

        width: 10vw;
        font-size: 0.9rem;
        margin-top: 45vh;
        height: 1.5vh;
        
    }

    .input::placeholder{

        font-size: 0.9rem;

    }

}

@media(min-width: 1501px){

    .input{

        width: 5vw;
        font-size: 0.85rem;
        margin-top: 69vh;
        
    }

    .input::placeholder{

        font-size: 0.85rem;

    }

}