.button {
    border: none;
    display: block;
    width: 63vw;
    height: 6vh;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    transition: all 0.3s ease-in-out;
    border-radius: 20px;
    background: #DC6099;
    position: fixed;
    bottom: 10%;
}

.button:hover {
    cursor: pointer;
}

.button:focus {
    outline: none !important;
    border: none;
}

/* Landscape mobile */

@media (orientation: landscape) and (max-height:481px) {
    .button {
        height: 10vh;
        width: 25vw;
        margin-top: -3vh;
    }
}

/* ipad air landscape */

@media (min-width:1024px) and (min-height:768px) {
    .button {
        height: 7vh;
        width: 25vw;
        font-size: 1.4rem;
        margin-top: 3vh;
    }
}

/* ipad air portrait */

@media (min-width:768px) and (min-height:1024px) {
    .button {
        height: 6vh;
        width: 55vw;
        font-size: 1.7rem;
        margin-top:0vh
    }
}

/* small laptop 1366 * 786 */

@media (min-width:1366px) and (min-height:768px) {

    .button {
        height: 5vh;
        width: 15vw;
        font-size: 1.1rem;
        margin-top: -3vh;
    }

}

/* corporate 1920 * 1080 */

@media (min-width:1920px) and (min-height:1080px) {
    .button {
        width: 14.5vw;
        font-size: 1.6rem;
        margin-top: 2vh;
    }
}