.button {

        border: none;
        display: block;
        width: 50vw;
        height: 6vh;
        border-radius: 10px;
        text-align: center;
        margin-top: 5vh;
        background-color: #dc6099;
        color: white;
        font-weight: 600;
        font-size: 1.1rem;
        transition:all 0.3s ease-in-out;
       

    }

    .button:hover {

        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        cursor: pointer;
    }

    .button:focus {

        outline: none !important;
        border: none;
    }

    @media(min-width: 451px){

        .button {

            font-size: 1.2rem;
            width: 40vw;

        }
    
    }

    @media(min-width: 801px) {

        .button {

            font-size: 1.1rem;
            width: 20vw;

        }
    
    }

    @media(min-width: 1100px) {

        .button {

            font-size: 1.05rem;
            width: 15vw;

        }
    
    }

    @media(min-width: 1501px){

        .button {

            font-size: 1rem;
            width: 10vw;

        }
    
    }

