.container {

    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;

}

.clientsWrapper {

    display: flex;
    flex:1;
    align-items: center;
    width: 100vw;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
}

.clientsWrapper::-webkit-scrollbar{

    display: none;
}

.calendarWrapper {

    display: flex;
    flex:0.8;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 3vh;
    
}