.container {

    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #E0E5EC;
}

.section {

    overflow: scroll;
    height: 70vh;
    width: 100vw;
    align-items: center;
    display: flex;
    flex-direction: column;


}

.calendarWrapper {

    display: flex;
    flex:1;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2vh;
    
}