.container {

    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;

}

.clientsWrapper {

    display: flex;
    flex:1;
    align-items: flex-start;
    width: 100vw;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    background-color: #e8eef7;
}

.clientsWrapper::-webkit-scrollbar{

    display: none;
}

.calendarWrapper {

    display: flex;
    flex:0.8;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 3vh;
    animation: Slide_Up 0.25s ease;

    
}

@keyframes Slide_Up{

    0%{
        transform: translateY(250px);
    }
    100%{
        transform: translateY(0);
    }
}

.openCalButton {

    position: fixed;
    bottom: 5vh;

}