.container {

    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    background-color: rgba(137, 43, 226, 0.253);

}

.topSection {

    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    padding-bottom:8vh;
    align-items: center;

}


.clientsTodayContainer {

    font-weight: 500;
    margin-top: 3vh;
    color: rgba(0, 0, 0, 0.507);
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 40vw;
    width: 40vw;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    padding: 5vw;
    border:1px solid rgba(137, 43, 226, 0.712);

}

.amount {

    color:rgba(137, 43, 226, 0.712);
    font-size: 3rem;
    margin: 2vh;

}

.menuContainer {

    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3vh;
    
}

.menuBoxContainer {

    background-color: rgba(255, 255, 255, 0.301);
    width: 38vw;
    height: 16vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5vh;
    font-weight: 900;
    color:rgba(137, 43, 226, 0.712);
    padding-left: 3.5vw;
    font-size: 1.15rem;
    box-shadow: 3px 3px 6px #b79acf, 
            -3px -3px 6px #f7d0ff;
    
}

.icon {

    width: 10vw;
    height: 10vw;
    color:rgba(137, 43, 226, 0.712);
    margin-bottom: 1vh;

}

