.container {

    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    background-color: rgba(137, 43, 226, 0.253);

}

.topSection {

    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    padding-bottom:8vh;
    align-items: center;

}


.clientsTodayContainer {

    font-weight: 500;
    margin-top: 3vh;
    color: rgba(0, 0, 0, 0.507);
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 40vw;
    width: 40vw;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    padding: 5vw;
    border:1px solid rgba(137, 43, 226, 0.712);

}

.amount {

    color:rgba(137, 43, 226, 0.712);
    font-size: 3rem;
    margin: 2vh;

}

.menuContainer {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: stretch;
    padding-top: 5vh;
    
}

.menuBoxContainer {

    background-color: rgba(255, 255, 255, 0.301);
    width: 38vw;
    border-radius: 5px;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-weight: 400;
    color:rgba(137, 43, 226, 0.712);
    padding-left: 3.5vw;
    font-size: 5vw;
    box-shadow: 3px 3px 6px #b79acf, 
            -3px -3px 6px #f7d0ffb0;
    
}

.icon {

    width: 7vh;
    height: 7vh;
    color:rgba(137, 43, 226, 0.712);
    margin-bottom: 1vh;

}

@media (orientation: landscape) and (max-height:481px) {

    .clientsTodayContainer {

        height: 29vh;
        width: 29vh;
        margin-top: -5.5vh;

    }

    .menuContainer{

        margin-top: -1vh;
        justify-content: space-around;
        width: 100%;

    }

    .menuBoxContainer {

        width: 21vw;
        height: 25vh;
        padding-left: 1.5vw;
        font-size: 2vw;

    }

    .icon {

        width: 5vw;
        height: 5vw;
    }

}

/* ipad air landscape */

@media (min-width:1024px) and (min-height:768px) {

    .clientsTodayContainer {

        height: 25vh;
        width: 25vh;
        border-radius: 200px;
        margin-top: 0vh;

    }

    .menuContainer{

        justify-content: space-around;
        align-items: center;
        width: 100%;

    }

    .menuBoxContainer {

        width: 22vw;
        height: 22vh;
        padding-left: 1.5vw;
        font-size: 2vw;

    }

    .icon {
        width: 6vw;
        height: 6vw;
    }

}

/* ipad air portrait */

@media (min-width:768px) and (min-height:1024px) {

    
    .clientsTodayContainer {

        height: 28vh;
        width: 28vh;
        border-radius: 2000px;
        position: relative;
        top:4vh;
        font-size: 1.5rem;

    }

    .menuContainer{

        justify-content: space-around;
        align-items: center;
        width: 100%;

    }

    .menuBoxContainer {

        width: 40vw;
        height: 20vh;
        padding-left: 1.5vw;
        font-size: 4vw;
        padding-left: 5vw;

    }

    .icon {
        width: 9vw;
        height: 9vw;
    }

    .amount {

        font-size: 4rem;
    }

}

/* small laptop 1366 * 786 */

@media (min-width:1366px) and (min-height:768px) {

    .button {
        height: 5vh;
        width: 15vw;
        font-size: 1.1rem;
        margin-top: -3vh;
    }

}

/* corporate 1920 * 1080 */

@media (min-width:1920px) and (min-height:1080px) {
    .button {
        width: 14.5vw;
        font-size: 1.6rem;
        margin-top: 2vh;
    }
}

