.card {

    min-width: 80vw;
    max-width: 80vw;
    background: white;
    border-radius: 10px;
    margin: 10vw;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.5);
    border: 0.5px solid #e8eef7;
    max-height: 42vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.topRow {

    display: flex;
    justify-content: space-between;
    height: 8vh;
    
}

.midRow {

    display: flex;
    justify-content: space-around;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.753);
    font-size: 1.2rem;
    height: 6vh;
    
}

.lowerMidRow {

    display: flex;
    justify-content: space-around;
    font-weight: 500;
    color: rgb(2, 136, 245);
    margin: 15px 0;

}

.notesRow {

    display: flex;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.562);
    max-width: 100%;
    max-height: 8vh;
    min-height: 8vh;
    margin: 0vh 5vw;
    padding: 0vh 0.5vw;
    overflow: scroll;
    margin-top: 1vh;    
    border-radius: 10px;
    border: 5px solid #e8eef7;
    
}

.bottomRow {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    padding: 1vh 2vw;

}


.name {

    margin-left: 5vw;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.753);
    position: relative;
    top:-5px;
    font-size: 1.8rem;
    width: 60%;
    background-color: red;

}

.button {

    position: relative;
    box-shadow: 2px 2px 4px rgb(163,177,198,0.6), -2px -2px 4px rgba(255,255,255, 0.5);
    border: 2px solid #e8eef7;
    background:white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cross {

    top:-45px;
    left:5px;
    width: 12vw;
    height: 12vw;
    color: rgba(247, 16, 16, 0.562);
    font-weight: 700;
    font-size: 30px;

}


.bottomButton {

    width: 27vw;
    height: 5vh;
    font-weight: 700;
    font-size: 4.4vw;

}

.edit {

    color: rgba(25, 175, 235, 0.562);

}

.delete {

    color: rgba(252, 7, 7, 0.562);
}

.update {
    color: rgba(40, 161, 46, 0.562);
}

.phoneNumber .notes {

    margin: 0;
    padding: 0;
}

.input {   
    
    background-color: #E8EEF7;
    position: relative;
    font-weight: 700;
    height: 5vh;
    font-family: "Libre Baskerville";
    padding-left: 1vw;
    border: none;
    border-radius: 15px;
    
}

.notes{

    color: rgba(0, 0, 0, 0.753);
    font-size: 1rem;

}

.nameInput{

    width: 63vw;
    color: rgba(0, 0, 0, 0.753);
    top:2vh;
    left:2.5vw;
    font-size: 5.5vw;

}

.phoneInput {

    width: 45vw;
    color: #2196F3;
    font-size: 5vw;
    top:1vh;
    font-weight: 500;
    margin-bottom: 2vh;

}

.notesInput{

    width:100%;
    height: 100%;
    border-radius: 0;
    color: rgba(0, 0, 0, 0.753);
    font-size: 1rem;
    padding:0;
    margin:0
}

.disabled {

    background-color: transparent;
    border: none;
}

@media (orientation: landscape) and (max-height:481px) {

.card{
    max-height: 55vh;
    min-height: 55vh;
    min-width: 45vw;
    max-width: 45vw;
    margin-top: 6vh;
}

.input {
    height: 5.5vh;
}

.cross{
    min-width: 10vh;
    height: 10vh;
    left: 2vw;
    top:-16vh
}

.nameInput{
    font-size: 3vw;
}

.phoneInput{
    font-size: 2.8vw;
    margin-bottom: 0;
    left: 5vw;
    width: 25vw;
}

.bottomButton {

    font-size: 2vw;
    width: 40%;
    height: 5.5vh;

}

.lowerMidRow{ 

    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}


}

/* ipad air landscape */


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (min-device-height : 500px)  {

    .card {
        min-height: 60vh;
        max-height: 60vh;
        margin-top: 5vh;
    }

    .input{
        height: 7vh;
    }

    .cross {

        height: 10vh;
        width:10vh;
        font-size: 2rem;
        top:-12vh;
        left:3vw
    }

    .bottomButton {

        font-size: 3vw;
        width: 30%;
    }

    .notes {

        font-size: 3vw;
    }

}

/* ipad air portrait */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {


    .notes{

        font-size: 3vw;
    }

    .cross {
        font-size: 5vw;
        top:-8vh;
        left:4vw;
        height: 8vh;
        width: 8vh;
    }
}

/* small laptop 1366 * 786 */

@media only screen  and (min-width : 1224px)  {

    .card {
        min-height: 60vh;
        max-height: 60vh;
        min-width: 60vw;
        max-width: 60vw;
        margin-top: 5vh;
    }

    .input{
        height: 7vh;
    }

    .cross {

        height: 8vh;
        width:10vh;
        font-size: 2rem;
        top:-12vh;
        left:1vw;

    }

    .bottomButton {

        font-size: 3vw;
        width: 30%;
    }

    .notes {

        font-size: 1rem;
    }

    .nameInput {
        font-size: 2.5rem;
    }

    .phoneInput {
        font-size: 2rem;
    }

    .bottomButton {
        font-size: 1.5rem;
    }

}

/* corporate 1920 * 1080 */

@media (min-width:1920px) and (min-height:900px) {

    .card {
        min-height: 50vh;
        max-height: 50vh;
        min-width: 40vw;
        max-width: 40vw;
    }

    .phoneInput{

        left:10vw
    }

    .cross{
        height: 6vh;
        width: 10vh;
        top:-8vh
    }


}
