.card {

    min-width: 80vw;
    max-width: 80vw;
    background: white;
    border-radius: 10px;
    margin: 10vw;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.5);
    border: 0.5px solid #e8eef7
    
}

.topRow {

    display: flex;
    justify-content: space-between;
    height: 8vh;
    
}

.midRow {

    display: flex;
    justify-content: space-around;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.562);
    font-size: 1.2rem;
    height: 6vh;
    
}

.lowerMidRow {

    display: flex;
    justify-content: space-around;
    font-weight: 500;
    color: #2196F3;
    margin: 15px 0;

}

.notesRow {

    display: flex;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.562);
    max-width: 100%;
    max-height: 8vh;
    min-height: 8vh;
    margin: 0vh 5vw;
    padding: 0vh 0.5vw;
    overflow: scroll;
    margin-top: 1vh;    
    border-radius: 10px;
    border: 5px solid #e8eef7;
    
}

.bottomRow {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    padding: 1vh 2vw;

}


.name {

    margin-left: 5vw;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.562);
    position: relative;
    top:-5px;
    font-size: 1.8rem;

}

.button {

    position: relative;
    box-shadow: 2px 2px 4px rgb(163,177,198,0.6), -2px -2px 4px rgba(255,255,255, 0.5);
    border: 2px solid #e8eef7;
    background:white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cross {

    top:-45px;
    left:5px;
    width: 12vw;
    height: 12vw;
    color: rgba(247, 16, 16, 0.562);
    font-weight: 700;
    font-size: 30px;

}


.bottomButton {

    width: 27vw;
    height: 5vh;
    font-weight: 700;
    font-size: 20px;

}

.edit {

    color: rgba(25, 175, 235, 0.562);

}

.delete {

    color: rgba(252, 7, 7, 0.562);
}

.update {
    color: rgba(40, 161, 46, 0.562);
}

.phoneNumber .notes {

    margin: 0;
    padding: 0;
}

.input {   
    
    background-color: #E8EEF7;
    position: relative;
    font-weight: 700;
    height: 5vh;
    font-family: "Libre Baskerville";
    padding-left: 1vw;
    border: none;
    border-radius: 15px;
    
}

.notes{

    color: rgba(0, 0, 0, 0.562);
    font-size: 1rem;

}

.nameInput{

    width: 63vw;
    color: rgba(0, 0, 0, 0.562);
    top:2vh;
    left:2.5vw;
    font-size: 1.8rem;

}

.phoneInput {

    width: 45vw;
    color: #2196F3;
    font-size: 1.4rem;
    top:1vh;
    font-weight: 500;
    margin-bottom: 2vh;

}

.notesInput{

    width:100%;
    height: 100%;
    border-radius: 0;
    color: rgba(0, 0, 0, 0.562);
    font-size: 1rem;
    padding:0;
    margin:0
}

.disabled {

    background-color: transparent;
    border: none;
}