.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 3vh;
    background-color: transparent;
    border: 0.5px solid rgba(128, 128, 128, 0.411);
    padding: 5px;
    padding-left: 12px;
    border-radius: 5px;
}

.inputHeader {
    display: flex;
    justify-content: space-between;
}

.inputTitle {
    color: blueviolet;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
}

.errorText {
    color: red;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    font-size: 0.8rem;
    position: relative;
}

.input {
    display: flex;
    flex: 1;
    outline: none;
    border: none;
    color: black;
    font-size: 1.2REM;
    font-family: 'Libre Baskerville', serif;
}

.input::placeholder {
    font-size: 1.2REM;
    color: rgba(0, 0, 0, 0.295);
    font-family: 'Libre Baskerville', serif;
}

.input:focus::placeholder {
    font-size: 1.3REM;
    color: rgba(0, 0, 0, 0);
}

.button {
    width: 35vw;
    height: 6vh;
    border-radius: 5px;
    border: 2px solid blueviolet;
    background-color: transparent;
    color: blueviolet;
    font-size: 1.2rem;
}

@media (orientation: landscape) and (max-height:481px) {
    
    .inputContainer {
        height: 25vh;
    }
    .button {
        width: 15vw;
        height: 12vh;
    }
}


/* ipad air landscape */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (min-device-height : 500px)  {


}

/* ipad air portrait */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {



}

/* small laptop 1366 * 786 */

@media only screen  and (min-width : 1224px)  {

    .container{

        padding: 5vh 30vw
    }
    .inputContainer {
        height: 25vh;
    }
    .button {
        width: 10vw;
        height: 5vh;
    }

}

/* corporate 1920 * 1080 */

@media (min-width:1920px) and (min-height:900px) {

    
    .container{

        padding: 5vh 25vw;
    }
    .inputContainer {
        height: 20vh;

    }

}
