.rowSegment {

    height:11%;
    width:100%;
    border: 0.5px solid #b8b8b831;
    display: flex;
    justify-content: center;
    align-items: center;

}


.sharedFormatting {

    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    position: relative;

}

.single {

    height:90%;
    width:93%;
    margin-top: 5%;
    margin-left: 3.5%;
    margin-right: 3.5%;
    background-color: pink;
    border-radius: 10px;

}

.joined {

    height:90%;
    width:105%;
    margin-top: 5%;
    left: -2.5%;

}

.double {background-color: lightblue}
.triple {background-color: #d7743b}
.quad {background-color: lightseagreen}

.leftRadius {

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.rightRadius {

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.firstCell {

    height:90%;
    width:100%;
    margin-top: 5%;
    margin-left: 2.5%;

}

.lastCell {

    height:90%;
    width:100%;
    left:-5.5%;
    margin-top: 5%;

}

.spillsDownToNextLine {

    height:90%;
    width:102%;
    margin-top: 5%;

}


.spillsFromPreviousLine{

    height:90%;
    width:103.5%;
    margin-top: 5%;
    margin-right: -1.5%;
    left:-4.5%;

}

.firstSpillsToNext{

    height:90%;
    width:102.5%;
    margin-top: 5%;
    margin-right: 1.5%;
    left:4.5%;

}

.lastSpillsFromPrevious{

    height:90%;
    width:102.5%;
    margin-top: 5%;
    margin-right: 1.5%;
    left:-4.5%;

}

.availableSelected{

    background-color: #E8EEF7;
    width: 95%;
    height: 95%;
    border-radius: 10px;

}

.notAvailable {

    background-image: url("../../Assets/Icons/cross.svg");
    background-repeat: no-repeat;
    background-size: inherit;
    width: 80%;
    height: 80%;
    margin-left:1.5vw;

}
