.rowSegment {

    height:8%;
    width:100%;
    border: 1px solid #b8b8b8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5vh;

}


.sharedFormatting {

    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    margin-top: 0;

}

.single {

    height:90%;
    width:93%;
    margin-top: 5%;
    margin-left: 3.5%;
    margin-right: 3.5%;
    background-color: pink;
    border-radius: 10px;

}

.joined {

    height:90%;
    width:105%;
    margin-top: 5%;
    left: -2.5%;

}

.double {background-color: lightblue}
.triple {background-color: #d7743b}
.quad {background-color: lightseagreen}
.greyedOut {background-color: gray}

.leftRadius {

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.rightRadius {

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.firstCell {

    height:90%;
    width:100%;
    margin-top: 5%;
    margin-left: 2.5%;
    margin-left: 5%;
    
}

.lastCell {

    height:90%;
    width:100%;
    left:-5.5%;
    margin-top: 5%;
    margin-right: 5%;

}

.spillsDownToNextLine {

    height:90%;
    width:102%;
    margin-top: 5%;

}


.spillsFromPreviousLine{

    height:90%;
    width:103.5%;
    margin-top: 5%;
    margin-right: -1.5%;
    left:-4.5%;

}

.firstSpillsToNext{

    height:90%;
    width:97%;
    margin-top: 5%;
    margin-left: 5%;

}

.lastSpillsFromPrevious{

    height:90%;
    width:92%;
    margin-top: 0.5%;
    margin-right: 3.5%;

}

.availableSelected{

    background-color: #E8EEF7;
    width: 95%;
    height: 95%;
    border-radius: 10px;

}

.notAvailable {

    background-image: url("../../Assets/Icons/cross.svg");
    background-repeat: no-repeat;
    background-size: inherit;
    width: 80%;
    height: 80%;
    margin-left:1.5vw;

}

.test {

    position: relative;
    top:-6.76vh;
    left: 10vw

}

.testNoData{

    position: relative;
    top:-6.58vh;
    left: 9vw

}

@media only screen and (orientation: landscape) and (max-height:481px) {

    .rowSegment {

        height: 12%;

    }

    .sharedFormatting {

        margin-top: 0;
    }



}

/* ipad air landscape */


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (min-device-height: 500px) {

    .rowSegment {

        font-size: 1.5rem;
        height: 10%;
    }

    .sharedFormatting {
        margin-top: 0;
    }


}

/* ipad air portrait */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

    .rowSegment {

        font-size: 1.5rem;

    }

    .sharedFormatting {
        margin-top: 0;
    }
}

/* small laptop 1366 * 786 */

@media only screen  and (min-width : 1224px) {

    .sharedFormatting {

        height: 75%;
        margin-top: 0;
    }

    .rowSegment{
        height: 5.5%;
    }


}

/* corporate 1920 * 1080 */

@media (min-width:1920px) and (min-height:900px) {

    
}
