.section {

    display: flex;
    justify-content: center;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 80vh;
    -ms-overflow-style: none;
    
}

.section::-webkit-scrollbar { display: none; }

.container {

    width: 90vw;
    height:100vh;
    position: relative;
    left:-1vw;
    margin-bottom: 10vh;
    
}

.hourCol {

    width: 10%;
    height: 90%;
    position: relative;
    top:10%;

}

.hourColSegment {

    display: flex;
    justify-content: center;
    align-items: center;
    height:11%;
    width:100%;
    font-size: 1.5rem;
    position: relative;
    right: 20%;
    top:1.5%

}

.minRow {

    display: flex;
    width: 90%;
    height: 10%;
    position: relative;
    bottom:90%;
    left:23%;
    
}

.minRowSegment {

    height: 100%;
    width: 25%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 1.5rem;

}

.innerContainer{

    display: flex;
    flex:1;
    width: 90%;
    height: 90%;
    position: relative;
    left:10%;
    bottom:90%;
    border: 3px solid #b8b8b8;
    border-bottom: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding:4px

}

.column {

    width:25%;
    height: 100%;

}

.rowSegment {

    height:11%;
    width:100%;
    border: 0.5px solid #b8b8b831;

}

.activeSegment {

    height:90%;
    width:93%;
    margin-top: 5%;
    margin-left: 3.5%;
    margin-right: 3.5%;
    background-color: pink;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    border-radius: 10px;

}

.activeSegmentOverFlow {

    height:90%;
    width:102%;
    margin-top: 5%;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;

}

.activeSegmentOverFlowFirst {

    height:90%;
    width:101.5%;
    margin-top: 5%;
    margin-left: 3%;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.activeSegmentOverFlowLast {

    height:90%;
    width:102%;
    margin-top: 5%;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.activeSegmentUnderFlow{

    height:90%;
    width:102.5%;
    margin-top: 5%;
    margin-right: 1.5%;
    position: relative;
    left:-4.5%;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;

}

.activeSegmentUnderFlowFirst{

    height:90%;
    width:102.5%;
    margin-top: 5%;
    margin-right: 1.5%;
    position: relative;
    left:-4.5%;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.activeSegmentUnderFlowLast{

    height:90%;
    width:102.5%;
    margin-top: 5%;
    margin-right: 1.5%;
    position: relative;
    left:-4.5%;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.activeSegmentFirst {

    height:90%;
    width:100%;
    margin-top: 5%;
    position: relative;
    margin-left: 2.5%;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.activeSegmentJoined {

    height:90%;
    width:105%;
    margin-top: 5%;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    position: relative;
    left: -2.5%;

}

.activeSegmentLast {

    height:90%;
    width:100%;
    position: relative;
    left:-5.5%;
    margin-top: 5%;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.triple {

    background-color: #d7743b;
}

.quad {

    background-color: lightseagreen;

}
.selected {

    background-color: lawngreen;
    
}