.section {

    display: flex;
    justify-content: center;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 80vh;
    -ms-overflow-style: none;

    
}

.section::-webkit-scrollbar { display: none; }

.container {

    width: 90vw;
    height:100vh;
    position: relative;
    left:-1vw;
    margin-bottom: 15vh;
    
}

.hourCol {

    width: 10%;
    height: 90%;
    position: relative;
    top:10%;

}

.hourColSegment {

    display: flex;
    justify-content: center;
    align-items: center;
    height:11%;
    width:100%;
    font-size: 1.5rem;
    position: relative;
    right: 20%;
    top:1.5%

}

.minRow {

    display: flex;
    width: 90%;
    height: 7%;
    position: relative;
    bottom:90%;
    left:23%;
    
}

.minRowSegment {

    height: 100%;
    width: 25%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 1.5rem;

}

.innerContainer{

    display: flex;
    flex:1;
    width: 90%;
    height: 90%;
    position: relative;
    left:10%;
    bottom:90%;
    border: 3px solid #b8b8b8;
    border-bottom: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding:4px

}

.column {

    width:25%;
    height: 100%;

}

.selected {

    background-color: lawngreen !important;

}

