.section {
    display: flex;
    justify-content: center;
    width: 100vw;
    overflow-y: scroll;
    height: 40vh;
}

.container {

    width: 90vw;
    height:100vh;
    
}

.hourCol {

    width: 10%;
    height: 90%;
    position: relative;
    top:10%;


}

.hourColSegment {

    display: flex;
    justify-content: center;
    align-items: center;
    height:10%;
    width:100%;
    font-size: 1.5rem;
    position: relative;
    right: 20%;

}

.minRow {

    display: flex;
    width: 90%;
    height: 10%;
    position: relative;
    bottom:90%;
    left:10%;
    
}

.minRowSegment {

    height: 100%;
    width: 25%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 1.5rem;
}

.innerContainer{

    display: flex;
    flex:1;
    width: 90%;
    height: 90%;
    position: relative;
    left:10%;
    bottom:90%;
    border: 1px solid black;
    border-radius: 5px;
    padding:4px


}

.column {
    width:25%;
    height: 100%;

}

.rowSegment {

    height:10%;
    width:100%;
    border: 1px solid transparent;


}

.activeSegmentJoined {

    height:90%;
    width:100%;
    margin-top: 5%;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    display: flex;

}

.activeSegment {

    height:90%;
    width:90%;
    margin-left: 5%;
    margin-top: 5%;
    background-color: pink;
    justify-content: center;
    align-items: center;
    display: flex;

}