.section {

    display: flex;
    justify-content: center;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;

}

.section::-webkit-scrollbar { display: none; }

.container {

    width: 80vw;
    height:131vh;
    position: relative;
    margin-top: 2vh;
    margin-bottom: 20vh;
    padding-bottom:15vh;
    border-radius: 5px;
    padding: 4vw;
    padding-left: 6vw;


}

.hourCol {

    width: 10%;
    height: 90%;
    position: relative;
    top:10%;

}

.hourColSegment {

    display: flex;
    justify-content: center;
    align-items: center;
    height:11%;
    width:100%;
    font-size: 1.5rem;
    position: relative;
    right: 20%;
    top:1.5%

}

.minRow {

    display: flex;
    width: 90%;
    height: 7%;
    position: relative;
    bottom:90%;
    left:23%;
    
}

.minRowSegment {

    height: 100%;
    width: 25%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 1.5rem;

}

.innerContainer{

    display: flex;
    flex:1;
    width: 100%;
    height: 100%;
    position: relative;
    bottom:90%;

}

.column {

    width:25%;
    height: 100%;

}

.selected {

    background-color: lawngreen !important;

}

.time{

    position: relative;
    left: -4vw;
}
@media (orientation: landscape) and (max-height:481px) {

    .container{
        margin-bottom: 60vw;
    }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){

    .time{
        position: relative;
        left: -1.8vw;
    }

    .container{
        margin-bottom: 30vw;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){

    .time{
        position: relative;
        left: -1.8vw;
    }
}

@media only screen  and (min-width : 1224px) and (min-device-height : 500px)  {

    .time{
        position: relative;
        left: -1vw;
    }

    .container {

        padding: 2vh 25vw;
    }

}
