.container {

    width: 90%;
    overflow-y: scroll;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1vh;

}

.container::-webkit-scrollbar {

    display: none

}

.clientContainer {

    width: 31%;
    height: 10vh;
    margin: 1%;
    border: 0.5px solid rgba(128, 128, 128, 0.411);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-align: center;
    box-shadow: 2px 2px 3px rgb(163,177,198,0.6), -2px -2px 4px rgba(255,255,255, 0.5);
}

.text{
    padding: 1vw;
    width: 100%;
}

@media (orientation: landscape) and (max-height:481px) {



}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){

    .clientContainer {

        width: 20%;
        height:14vh;
    }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){


    .clientContainer {

        width: 20%;
        height: 10vh;
        
    }
}

@media only screen  and (min-width : 1224px) {

    .clientContainer {

        width: 17.7%;
        height: 12vh;
        
    }

}

@media (min-width:1920px) and (min-height:900px) {

    .clientContainer {

        height: 10vh;
        
    }
    
}
