.logo {
    width: 100vw;
    height: 20vh;
    position: absolute;
    top: 0vh;
    left: 0;
}


/* Landscape mobile */

@media (orientation: landscape) and (max-height:481px) {
    .logo {
        height: 50vh;
    }
}

/* ipad air landscape */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

    .logo {
        height: 50vh;
    }

}

/* ipad air portrait */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

    .logo {
        height: 35vh;
    }
}

/* small laptop 1366 * 786 */

@media (min-width:1366px) and (min-height:768px) {

}

/* corporate 1920 * 1080 */

@media (min-width:1920px) and (min-height:1080px) {

    .logo {
        height: 60vh;
    }

}