.logo {
    width: 100vw;
    height: 20vh;
    position: absolute;
    top: 0vh;
    left: 0;
}

/* Landscape mobile */

@media (orientation: landscape) and (max-height:481px) {
    .logo {
        height: 50vh;
    }
}

/* ipad air landscape */

@media (min-width:1024px) and (min-height:768px) {
    .logo {
        height: 50vh;
    }
}

/* ipad air portrait */

@media (min-width:768px) and (min-height:1024px) {
    .logo {
        height: 35vh;
    }
}

/* small laptop 1366 * 786 */

@media (min-width:1366px) and (min-height:768px) {

}

/* small laptop 1366 * 786 */

@media (min-width:1920px) and (min-height:1080px) {

    .logo {
        height: 60vh;
    }

}