

.gridContainer {

    background-color: #e8eef7;
}

.calendarWrapper {

    position: absolute;
    bottom:0;
    display: flex;
    flex:0.8;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 3vh;
    animation: Slide_Up 1s ease;
    background-color: white;
    width: 100vw;

    
}

.appointmentContainer{

    display: flex;
    min-height: 80vh;

}
@keyframes Slide_Up{

    0%{
        transform: translateY(250px);
    }
    100%{
        transform: translateY(0);
    }
}

.alert-container{

    background-color: red;
    border: 1px solid black;

}

.alert-header{
    color:red
}

@media (orientation: landscape) and (max-height:481px) {

    .appointmentContainer{

        display: flex;
        height: 150vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    
    }

    @media only screen  and (min-width : 1224px)  {

        .appointmentContainer{

            justify-content: center;
            align-items: center;
            padding-top:2.8vh ;
        }
        
    }
