.gridContainer {

    background-color: #e8eef7;
}

.calendarWrapper {

    position: absolute;
    bottom:0;
    display: flex;
    flex:0.8;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 3vh;
    animation: Slide_Up 1s ease;
    background-color: white;
    width: 100vw;

    
}
@keyframes Slide_Up{

    0%{
        transform: translateY(250px);
    }
    100%{
        transform: translateY(0);
    }
}

.alert-container{

    background-color: red;
    border: 1px solid black;

}

.alert-header{
    color:red
}