.container {
    width: 90vw;
    height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.headerText {
    font-size: 1.15rem;
    margin-top: 3.5vh;
}

.mainOption {
    margin-top: 3vh;
    width: 50vw;
    height: 20vh;
    border: 0.5px solid rgba(128, 128, 128, 0.411);
    background-color: white;
    box-shadow: 4px 4px 8px rgb(163, 177, 198, 0.6), -4px -4px 8px rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    flex-direction: column;
    color: rgba(6, 112, 23, 0.562);
}

.otherOptions {
    margin-top: 5vh;
    display: flex;
    width: 100vw;
    justify-content: space-around;
}

.option {
    width: 27vw;
    height: 12vh;
    border: 0.5px solid rgba(128, 128, 128, 0.411);
    background-color: white;
    box-shadow: 2px 2px 4px rgb(163, 177, 198, 0.6), -2px -2px 4px rgba(255, 255, 255, 0.5);
    color: rgba(25, 175, 235, 0.562);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    font-size: 1.4rem;
}

@media (orientation: landscape) and (max-height:481px) {
    .mainOption {
        height: 35vh;
        width: 25vw;
    }
    .option {
        height: 20vh;
        width: 25vw;
    }
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){

    .mainOption {
        height: 23vh;
        width: 25vw;
    }

    .option {
        height: 18vh;
        width: 20vw;
    }

    .headerText {

        font-size: 1.6rem;
    }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){

    .mainOption {
        height: 20vh;
        width: 35vw;
    }

    .option {
        height: 15vh;
        width: 25vw;
    }

    .headerText {

        font-size: 1.6rem;
    }

}

@media only screen  and (min-width : 1224px) {

    .mainOption {
        height: 35vh;
        width: 25vw;
    }
    .option {
        height: 20vh;
        width: 25vw;
    }


}
