.Calendar {

    font-size: 1rem;
    border: none;
    width: 95vw;
    background-color: transparent;
    max-height: 45vh;

}

.calendarTile {

    font-size: 1rem;
    color: black;
    box-shadow: 2px 2px 4px rgb(163,177,198,0.6), -2px -2px 4px rgba(255,255,255, 0.5);


    
}

.calendarArrowRight {

    display: flex;
    height: 12vw;
    width: 20vw;
    background-color: white;
    position: relative;
    top:-0.2vw;
    left: -1.7vw;


}
/* here*/

.calendarArrowLeft {

    transform: rotate(180deg);
    height: 12vw;
    width: 20vw;
    background-color: white;
    position: relative;
    top:-0.2vw;
    left: -2.2vw;

}

.calendarTitle {

    font-size: 1.3rem;
    background-color: white;
    position: relative;
    top:-2.8vh;
    left: -6vw;
    height:7vh;
    width: 64vw;
    color: black;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;    
}

