.Calendar {

    font-size: 1rem;
    border: none;
    width: 95vw;
    background-color: white;
    max-height: 45vh;

}

.calendarTile {

    font-size: 1rem;
    color: black;
    box-shadow: 2px 2px 4px rgb(163,177,198,0.6), -2px -2px 4px rgba(255,255,255, 0.5);

    
}

.calendarArrowRight {

    display: flex;
    height: 8vw;

    background-color: transparent;


}

.calendarArrowLeft {

    height: 8vw;
    transform: rotate(180deg);

    background-color: transparent;


}

.calendarTitle {

    font-size: 1.3rem;
    background-color: transparent;
    position: relative;
    top:-3.5vh;
    left: -2vw;
    height:8vh;
    width: 67vw;
    color: black;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;    
}

