.container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:15vh;
    width:100vw;
    /* box-shadow: 2px 2px 30px #8e8e8e, 
                -2px -2px 30px #ffffff; */
    
}

.next {

    font-size: 1.6rem;
    margin: 0;
    padding: 0;
}

.total {

    font-size: 1.2rem;
    margin-top: 10px;
    padding: 0;
}

