@media(max-width:800px){

    .img {

        display: none;
    }

    .container {

        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #2b2e6b;
    
    }
    
}