html{

    height: 100%;
    margin: 0;

}

    .container {

        height: 100%;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        /* background-color: #2B2E6B; */

    
    }

    .errorText {

        color: red;
        text-align: center;

    }
    