.img {

        display: none;
    }

    .container {

        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: #2B2E6B; */

    
    }

    .errorText {

        color: red;
        text-align: center;
    }
    