 .input {
     outline: none;
     border: none;
     border-bottom: 2px solid #2B2E6B;
     width: 27vw;
     height: 4vh;
     text-align: center;
     color: #9c9c9c;
     font-size: 0.8rem;
     padding: 1vw;
     margin-top: -10vh;
     border-radius: 0;
     /* border-radius: 5px;
        background: #f0f0f0;
        box-shadow: 1px 1px 2px #9c9c9c, 
                    -1px -1px 2px #ffffff; */
 }

 .input::placeholder {
     color: #9c9c9c;
     font-size: 0.8rem;
 }

 .input:hover::placeholder {
     color: #9c9c9c;
 }

 /* Landscape mobile */

@media (orientation: landscape) and (max-height:481px) {

    .input {
        width: 15vw;
        font-size: 0.9rem;
        height: 3.5vh;
        margin-top: 30vh;
    }
    .input::placeholder {
        font-size: 0.9rem;
    }
}

 /* ipad air landscape */
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

     .input {
         font-size: 1.2rem;
         margin-top: 40vh;
         width: 12vw;
     }
     .input::placeholder {
         font-size: 1.2rem;
     }
 }

 /* ipad air portrait */
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
     .input {
         margin-top: 20vh;
         width: 20vw;
     }
     .input::placeholder {
         font-size: 1.4rem;
         padding-bottom: 4vh;
     }
 }

  /* small laptop 1366 * 786 */
 @media (min-width:1366px) and (min-height:768px) {
    .input {
        margin-top: 30vh;
        width: 8vw;
        font-size: 1rem;
        height: 1.4vh;
    }
    .input::placeholder {
        font-size: 1rem;
    }
}

/* corporate 1920 * 1080 */

@media (min-width:1920px) and (min-height:1080px) {

    .input {
        margin-top: 40vh;
        width:8vw;
        font-size: 1.5rem;
    }

    .input::placeholder {
        font-size: 1.5rem;
    }

}