.container {

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 12vh;
    position: fixed;
    bottom: 0vh;
    background-color: white;

}

.iconWrapper{

    width: 10vw;
    border-radius: 20px;
    padding: 2vw;
    border: 5px solid #e8eef7;
    box-shadow: 8px 8px 16px rgb(163,177,198,0.6), -8px -8px 16px rgba(255,255,255, 0.5);
    background:white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.active {

    border-color: lawngreen;
}

@media (orientation: landscape) and (max-height:481px) {

    .container{

        height: 25vh;

    }

    .iconWrapper {
        width: 5.5vw;
        padding: 0.75vw;
    }

}

/* ipad air landscape */


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (min-device-height : 500px)  {

    .container{

        height: 16vh;

    }

    .iconWrapper {
        width: 6.5vw;
        padding: 0.5vw;
    }

}

/* ipad air portrait */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

    .container{

        height: 15vh;

    }

    .iconWrapper {
        width: 8.5vw;
        padding: 0.75vw;
    }


}

/* small laptop 1366 * 786 */

@media (min-width:1366px) and (min-height:768px) {

    .iconWrapper {
     width: 3vw;
     padding: 0.5vw;
    }


}

/* corporate 1920 * 1080 */

@media (min-width:1920px) and (min-height:900px) {

    
}
