.container {

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 12vh;
    position: fixed;
    bottom: 0vh;
    background-color: white;

}

.calendar{

    width: 12vw;
    border-radius: 20px;
    padding: 2vw;
    border: 5px solid #e8eef7;
    box-shadow: 8px 8px 16px rgb(163,177,198,0.6), -8px -8px 16px rgba(255,255,255, 0.5);
    background:white;
    display: flex;
    justify-content: center;
    align-items: center;

}