.container {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width:100vw;
    background-color: white;

}

.title {

    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    color:rgba(137, 43, 226, 0.712);
    font-weight: 700;
    position: relative;
    top:2px

}

.total {

    font-size: 1.2rem;
    margin-top: 10px;
    padding: 0;

}

.icon {

    width: 6vw;
    top:1vh;
    position: absolute;
    border: 1px solid black;
    border-radius: 20px;
    padding: 1vw;
    border: 3px solid #e8eef7;
    box-shadow: 4px 4px 8px rgb(163,177,198,0.6), -4px -4px 8px rgba(255,255,255, 0.5);
    background:white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.backArrow{ left: 2.5vw; }

.hamburgerMenu{ right: 2.5vw;}

.sidePanel {

    position: fixed;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100%;
    background-color: white;
    z-index: 100;
    transition: all .75s ease;

    
}

.sidePanelClosed {

    position: fixed;
    top: 0;
    left: -50vw;
    width: 0vw;
    height: 100%;
    background-color: white;
    z-index: 100;
    transition: all .75s ease;

}

.navLinks {

    font-size: 1.3rem;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 10%;
}

.navLinks a {

    text-decoration: none;
    color: black;
}

.closeArea {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;

}

@media (orientation: landscape) and (max-height:481px) {

    .icon {

        width: 3.5vw;
    }

    .container{

        height: 15vh;
    }

}

/* ipad air landscape */


@media (min-width:1024px) and (min-height:768px) {
    .icon {

        width: 3.5vw;
    }

    .container{

        height: 15vh;
    }
}

/* ipad air portrait */

@media (min-width:768px) and (min-height:1024px) {
    .button {
        height: 6vh;
        width: 55vw;
        font-size: 1.7rem;
        margin-top:0vh
    }
}

/* small laptop 1366 * 786 */

@media (min-width:1366px) and (min-height:768px) {

    .button {
        height: 5vh;
        width: 15vw;
        font-size: 1.1rem;
        margin-top: -3vh;
    }

}

/* corporate 1920 * 1080 */

@media (min-width:1920px) and (min-height:1080px) {
    .button {
        width: 14.5vw;
        font-size: 1.6rem;
        margin-top: 2vh;
    }
}
