.container {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width:100vw;
    background-color: white;

}

.title {

    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    color:rgba(137, 43, 226, 0.712);
    font-weight: 700;
    position: relative;
    top:2px

}

.total {

    font-size: 1.2rem;
    margin-top: 10px;
    padding: 0;

}

.icon {

    width: 6vw;
    top:1vh;
    position: absolute;
    border: 1px solid black;
    border-radius: 20px;
    padding: 1vw;
    border: 3px solid #e8eef7;
    box-shadow: 4px 4px 8px rgb(163,177,198,0.6), -4px -4px 8px rgba(255,255,255, 0.5);
    background:white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.backArrow{ left: 2.5vw; }

.hamburgerMenu{ right: 2.5vw;}

.sidePanel {

    position: fixed;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100%;
    background-color: white;
    z-index: 100;
    transition: all .75s ease;

}

.sidePanelClosed {

    position: fixed;
    top: 0;
    left: -50vw;
    width: 0vw;
    height: 100%;
    background-color: white;
    z-index: 100;
    transition: all .75s ease;

}

.navLinks {

    font-size: 1.3rem;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 10%;
}

.navLinks a {

    text-decoration: none;
    color: black;
}

.closeArea {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;

}

.logout{

    margin-top: 2vh;
}

@media (orientation: landscape) and (max-height:481px) {

    .icon {

        width: 3vw;
    }

    .container{

        height: 15vh;
    }

    .sidePanel {
        width: 30vw;
    }

    .navLink{
        font-size: 1.5rem;
    }

}

/* ipad air landscape */


@media (min-width:1024px) and (min-height:768px) {
    .icon {
        width: 2.5vw;
    }

    .container{

        height: 15vh;
    }

    .sidePanel {
        width: 30vw;
    }

    .navLink{
        font-size: 1.5rem;
    }
}

/* ipad air portrait */

@media (min-width:768px) and (min-height:1024px) {

    .icon {
        width: 4.5vw;
    }

    .sidePanel {
        width: 40vw;
    }

    .navLink{
        font-size: 1.8rem;
    }

}

/* small laptop 1366 * 786 */

@media (min-width:1366px) and (min-height:768px) {

    .icon {
        display: none;
    }

    .navLinks {

        position: fixed;
        top: -18vh;
        left: -10vw;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 10vh;

    }

    .navLink{

        margin-left: 2vw;
        font-size: 1.25rem;
    
    }

    .navLink:hover{

        color:#532B7A;
        cursor: pointer;
        font-weight: bold;
    
    }

    .otherLinks{

        width: 100%;
        display: flex;
        align-items: center;
    }

    .logout{

        height: inherit;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        padding-right:2vw;
        margin-top: 0vh;

    }

}

/* corporate 1920 * 1080 */

@media (min-width:1920px) and (min-height:900px) {

    .navLinks {

        top: -20vh;

    }
    
}
