.container {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width:100vw;
    background-color: white;

}

.title {

    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    color:rgba(137, 43, 226, 0.712);
    font-weight: 700;
    position: relative;
    top:2px

}

.total {

    font-size: 1.2rem;
    margin-top: 10px;
    padding: 0;

}

.icon {

    width: 6vw;
    top:1vh;
    position: absolute;
    border: 1px solid black;
    border-radius: 20px;
    padding: 1vw;
    border: 3px solid #e8eef7;
    box-shadow: 4px 4px 8px rgb(163,177,198,0.6), -4px -4px 8px rgba(255,255,255, 0.5);
    background:white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.backArrow{ left: 2.5vw; }

.hamburgerMenu{ right: 2.5vw;}

.sidePanel {

    position: fixed;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100%;
    background-color: white;
    z-index: 100;
    transition: all .75s ease;

    
}

.sidePanelClosed {

    position: fixed;
    top: 0;
    left: -50vw;
    width: 0vw;
    height: 100%;
    background-color: white;
    z-index: 100;
    transition: all .75s ease;

}

.navLinks {

    font-size: 1.3rem;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 10%;
}

.navLinks a {

    text-decoration: none;
    color: black;
}

.closeArea {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;

}

